@media (max-width: 760px) {
  .footer {
    background-color: red;
    border: black;
    padding: 2px;
    margin-top: 20px;
  }

  .h3_footer {
    text-align: center;
  }

  .footer__icons {
    display: flex;
    width: 50px;
    height: 50px;
  }

  .icon_item {
    margin-left: 70px;
    margin-bottom: 20px;
  }
}

@media (min-width: 760px) {
  .footer {
    border: black;
    padding: 4px;

    .h3_footer {
      text-align: center;
      margin-bottom: 15px;
      font-size: 23px;
    }
    .footer__icons {
      display: flex;
      width: 50px;
      height: 50px;
      margin-inline-start: 30%;
      margin-top: 20px;
      margin-bottom: 20px;
    }

    .icon_item {
      margin-left: 100px;
    }
  }
}
